<template>
  <div class="about">
    <h1>Social Media Analysis Toolkit</h1>
    <p>
      Tools built with <a href="https://pushshift.io/">Pushshift</a>. Inspired
      by the <a href="https://pushshift.io/slack-install/">slackbot.</a>
    </p>
    <h3><i>About SMAT</i></h3>
    <p>
      The Social Media Analysis Toolkit (SMAT) was designed to help facilitate
      activists, journalists, researchers, and other social good organizations
      to analyze and visualize larger trends on a variety of platforms. Our
      intention is to provide easy to use tools that help you tell a story about
      something happening at a large scale online. The tools are designed to be
      quick and simple so that users could quickly respond to things like
      disinformation and hate as they occur, while also having the tools be
      rigorous enough to have applications in scholarly research. While we have
      built the framework, it is up to you and your curiosity to find what
      stories are waiting to be discovered.
    </p>

    <p>
      NOTE: we only have T w i t t e r data for verified accounts for now. This
      project is still in beta so expect some bugs and let us know if you find
      them! More tools, variables, and a proper JS front-end/UI available soon
      in Version 1. We may also reach our user limits on Heroku! Please reach
      out to @quinndougherty4 on Twitter for technical issues.
    </p>

    <p>
      Find us on <a href="https://gitlab.com/smat-project/">gitlab</a> or say
      hey at rebelliousdata[at]gmail.com.
    </p>

    <a href="https://rebelliousdata.com">
      <img
        src="http://emmibevensee.com/wp-content/uploads/2020/01/med-small-rb-logo-square.jpg"
        alt="rebellious data logo"
      />
    </a>
    <a href="https://idrama.science/">
      <img
        src="https://idrama.science/images/idrama.png"
        alt="iDrama logo"
        height="85"
        width="85"
      />
    </a>

    <br />
    Contributors: Emmi Bevensee, Jason Baumgartner, Quinn Dougherty, Jeremy
    Blackburn, Harry Momand, ZC, max aliapoulios, Protozoa Co-op, Mix Irving,
    and others. Special thanks to the incredible
    <a href="https://idrama.science/">iDrama</a> research lab for their support.
  </div>
</template>
