<template>
  <div>
    <h1>Hello world</h1>

    <DemoForm :label="buttonLabel" @submit="postComment($event)" />

    <div v-for="(comment, i) in comments" :key="i">
      {{ comment }}
    </div>

    <div v-if="isTooMuch">
      enough
    </div>
  </div>
</template>

<script>
import DemoForm from "../components/DemoForm.vue";

export default {
  name: "Demo",
  data() {
    return {
      newComment: "",
      comments: [],
      buttonLabel: "new comment"
    };
  },
  computed: {
    isTooMuch() {
      return this.comments.length > 3;
    }
  },
  watch: {},
  methods: {
    postComment(text) {
      this.comments.push(text);
    }
  },
  components: {
    DemoForm
  }
};
</script>

<style></style>
