<template>
  <div class="home">
    <div class="options">
      <form>
        <div class="site-input">
          <input type="radio" id="site-b" value="twitter" v-model="site" />
          <label for="site-b">Twitter</label>

          <input type="radio" id="site-a" value="reddit" v-model="site" />
          <label for="site-a">Reddit</label>

          <input type="radio" id="site-c" value="gab" v-model="site" />
          <label for="site-c">Gab</label>
        </div>

        <div class="term-input">
          <input type="text" id="term" v-model="term" />
          <label for="term">search term</label>
        </div>

        <div class="limit-input">
          <input v-model.number="limit" id="limit" type="number" />
          <label for="limit">limit</label>
        </div>
      </form>
      <!-- <p>Print results:</p> -->

      <!--example json: https://smat-be.herokuapp.com/content?site=twitter&term=trump&limit=20 -->
      <!-- un-comment if you want to print results -->
      <!-- <div class="results">
           <div v-for="(hit, i) in results['hits']['hits']" :key="i">
           {{ hit._source.entities.hashtags[0] }}
           </div>
           </div> -->
    </div>

    <div v-if="isLoaded">
      <bar-chart :chartData="chartData" :options="chartOptions" />
    </div>
    <p v-if="isLoaded">CHARTSDATAZ:{{ chartData }}</p>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
 import {
   debounce,
   isEmpty,
   flatten,
   uniq
 } from "lodash";
 import BarChart from '../components/BarChart.vue';

export default {
  name: "home",
  components: {
    BarChart
    // HelloWorld
  },
  data() {
    return {
      site: "twitter",
      term: "election",
      limit: 100,
      results: null
    };
  },
  computed: {
    hashtags() {
      // results.hits.hits[0]["_source"]["entities"]["hashtags"] is array
      if (this.results !== null) {
        let hits = this.results.hits.hits //this be a list
        let allHashtags = flatten(hits
          .map((hit) => hit["_source"]["entities"]["hashtags"])
          .filter(hashtag => !isEmpty(hashtag)))
          .map(tag => tag.text);

        let uniqueHashtags = uniq(allHashtags);
        let hashtags = uniqueHashtags
          .map(hashtag => {
            let count = allHashtags.filter(tag => tag === hashtag).length;
            return {
              name: hashtag,
              value: count
              }
            });
        return hashtags;
        } else {
        return "hashtags";
      }
    },
    chartData() {
      let hashtags = this.hashtags.map(tag => tag.name);
      let hashtagFrequency = this.hashtags.map(tag => tag.value);
      return{
        labels: hashtags,
        datasets: [
          {
            label: 'frequency of tag',
            backgroundColor: '#f87979',
            data: hashtagFrequency
          }
        ]
      }
    },
    chartOptions() {
      return {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [
            {ticks: {
              beginAtZero: true
            }
            }
          ]
        }
      }
    },
    isLoaded() {
      return this.results !== null;
    },
    query() {
      if (this.term.length < 2)
        return `?site=${this.site}&term=election&limit=${this.limit}`;

      return `?site=${this.site}&term=${this.term}&limit=${this.limit}`;
      // this is string interpolation
      // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals#Expression_interpolation
    }
  },
  watch: {
    query(newValue) {
      // console.log("[query]", newValue);
      if (!newValue) return;

      const url = `https://smat-be.herokuapp.com/content${newValue}`;
      this.fetchData(url);
    }
    // this is triggered when there are any new changes to "query"
  },
  methods: {
    /* a simple version of fetchData */

    // fetchData: function(url) {
    //   console.log(url)
    //   fetch(url)
    //     .then(response => response.json())
    //     .then(results => {
    //       this.results = results
    //     })
    //     .catch(err => console.error(err));
    // }

    /* chill version which only triggers 300ms of quiet */
    // read about debounce: https://css-tricks.com/debouncing-throttling-explained-examples/#article-header-id-0
    fetchData: debounce(function(url) {
      // console.log("[fetchData]", url);

      fetch(url)
        .then(response => response.json())
        .then(results => {
          // set the state
          this.results = results;
        })
        .catch(err => console.error(err));
    }, 300)
  }
};

// var resultsParsed = new Vue({
//   el: '#resultsParsed',
//   data: {{ results }}
// })
</script>

<style scoped lang="scss">
form {
  .site-input {
    label {
      margin-right: 20px;
    }
  }
}
</style>
