<template>
  <div>
    <input type="text" v-model="newComment" />
    <button @click="postComment">{{ label }}</button>
  </div>
</template>

<script>
export default {
  name: "DemoForm",
  props: {
    label: {
      type: String,
      default: "submit"
    }
  },
  data() {
    return {
      newComment: ""
    };
  },
  methods: {
    postComment() {
      this.$emit("submit", this.newComment);
      this.newComment = "";
    }
  }
};
</script>

<style></style>
